body{
 display: grid;
 place-items: center;
 height: 100vh;
 background-color: #efed40;
 color: aqua;

}
p{
 display: none;
 color:#efed40;
 font-size: 25px;
 cursor: pointer;
 font-weight: bold;
}
h1{
 cursor: pointer;
}